body {
  margin: 0;
  font-family: sans-serif;
  background: #F9F2EA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel-container {
  width: 660px; /* 3 imágenes de 200px + 3 márgenes de 20px */
  overflow: hidden;
  border-radius: 8px;
  background: transparent;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  align-items: center;
}

.carousel-track img {
  width: 200px;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  margin: 0 10px;
  border-radius: 6px;
  background: transparent;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button svg {
  stroke: white;
  transition: transform 0.3s ease;
}

.nav-button:hover svg {
  transform: scale(1.2);

}


